/* You can add global styles to this file, and also import other style files */

:root{
    --color-bg: #D9D9D9;
    --color-boton: #0071DA;
    --color-fecha: black;
    --color-boton-text: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
