*{
    font-family: 'Montserrat', sans-serif;
}

.contenedorPrincipal{
    width: 100%;
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;


}
.containerLateral{
    flex: 1;
}
.containerIzq{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerHora{
    font-size: 10em;
    color: WHITE;
    text-shadow: 5px 5px #000000BB;
    margin-bottom: 10vh;
}
.containerFecha{
    font-size: 1.2em;
    color: var(--color-fecha);
}

.containerFechaYHora{
    margin-bottom: 6vh;
    text-align: center;

}
.btnCrear{
    border: none;
    background-color: var(--color-boton);
    color: var(--color-boton-text);
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid white;
}
.form{
    width: 60%;
    margin: auto;
}
.inputNombre{
    display: flex;
    justify-content: space-between;
}
.inputHora{
    display: flex;
    justify-content: space-between;
}
input{
    width: 70%;
}
.listaAlarmas{
    background-color: white;
    padding: 5%;
    box-shadow: 2px 2px 5px black;
    margin-right: 10%;
    margin-top: 10vh;
}
.alarma{
    padding: 2vh 0;
    border-bottom: 1px solid black;
}
.titulo{
    text-align: center;
}

.containerTemas{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
.cuadrado{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.temaOscuro{
    background-color: black;
    border: 2px solid white;
}
.temaClaro{
    background-color: white;
    border: 2px solid black;

    
}
.temaVerde{
    background-color: green;
    border: 2px solid red;

}